<ion-content [fullscreen]="true">


  <div class="div">
    <h1>SkeletonAPP</h1>
    Aqui comienza todo
  </div>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="bienvenida">Bienvenido!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
<ion-list>
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input type="text" placeholder="Ingrese su usuario" name="nombre" [(ngModel)]="nombre" minlength="3" maxlength="8"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">contraseña</ion-label>
          <ion-input type="password" placeholder="***** " minlength="4" maxlength="4" name="contra" [(ngModel)]="contra"></ion-input>
        </ion-item>
        <div class="div">

          <ion-button size="default" color="dark" fill="outline" (click)="ingreso()">ingresar</ion-button>

        </div>
</ion-list>

      </ion-card-content>
    </ion-card>
    <div class="div">
      <p><a>Crea tu cuenta gratis</a></p>
    </div>
  </ion-content>
</ion-content>
